<div id="<%= dom_id file_input %>">
  <table>
    <thead>
      <tr>
        <th>Purchaser</th>
        <th>Item Description</th>
        <th>Item Price</th>
        <th>Count</th>
        <th>Merchant Name</th>
        <th>Merchant Address</th>
      </tr>
    </thead>
    <tbody>
      <% @file_input.purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.purchaser.name %></td>
        <td><%= purchase.item.description %></td>
        <td><%= purchase.item.price %></td>
        <td><%= purchase.count %></td>
        <td><%= purchase.merchant.name %></td>
        <td><%= purchase.merchant.address %></td>
      </tr>
      <% end %>
    </tbody>
    <div>
      <p>
        <strong>Gross income from this file:</strong>
        <%= "US$ #{file_input.gross_income}" %>
      </p>
      <p>
        <strong>Total gross income:</strong>
        <%= "US$ #{Purchase.total_gross_income}" %>
      </p>
    </div>
  </table>
</div>
