<%= form_with(model: file_input) do |form| %>
  <% if file_input.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(file_input.errors.count, "error") %> prohibited this file_input from being saved:</h2>

      <ul>
        <% file_input.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.file_field :file, required: true %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
