<p style="color: green"><%= notice %></p>

<h1>Inserted Files</h1>

<div id="file_inputs">
  <table>
    <thead>
      <tr>
        <th>Insertion Date</th>
        <th>Gross Income</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @file_inputs.each do |file_input| %>
        <tr>
          <td><%= file_input.created_at.strftime("%d/%m/%Y %H:%M UTC") %></td>
          <td><%= "US$#{file_input.gross_income}" %></td>
          <td><%= link_to "Show", file_input %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <strong>Total gross income:</strong>
    <%= "US$ #{Purchase.total_gross_income}" %>
  </div>

</div>

<%= link_to "Insert new file", new_file_input_path %>
