<p style="color: green"><%= notice %></p>

<%= render @file_input %>

<div>
  <%= link_to "Back", file_inputs_path %>
  <%=
    button_to "Destroy",
    @file_input,
    data: { turbo_confirm: 'Are you sure?' },
    method: :delete
  %>
</div>
